*.obj filter=lfs diff=lfs merge=lfs -text
WebBuild/Build/*.data filter=lfs diff=lfs merge=lfs -text
WebBuild/Build/*.wasm filter=lfs diff=lfs merge=lfs -text
WebBuild/Build/*.gz filter=lfs diff=lfs merge=lfs -text
